;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[proto-repl "0.3.1"]
  [binaryage/devtools "1.0.3"]
  [cider/cider-nrepl "0.25.6"]
  [reagent "1.0.0"]
  [datascript "1.2.8"]
  [cljs-http "0.1.46"]
  [json-html "0.4.7"]
  ;;[reagent-flowgraph "0.1.1"]
  ;; [lacij "0.10.0"]
  ;; [ubergraph "0.8.2"]
  ;; [aysylu/loom "1.0.2"]
  ;; [aerial.hanami "0.12.1"]
  ;; [net.drib/strokes "0.5.1"]
  [quil "3.1.0"]
  [coll-pen "0.2.1"]
  [re-com "2.13.2"]
  [re-frame "1.2.0"]
  ;[clj-commons/fs "1.6.307"]
  ;[org.clojure/core.match "1.0.0"]
  ;[cljs-node-io "1.1.2"]
  ;[clj-http "3.12.0"]
  ;[cljs-http "0.1.46"]
                                        ;[erinite/template "0.2.0"]
  [net.mikera/core.matrix "0.62.0"]
  ;[thinktopic/aljabr "0.1.1"]
  ]

 :nrepl
 {:port 3333}

 ;:dev-http
 ;{8000 "public"}

 :builds
 {:eco {:target :browser
        :output-dir "public/js"
        :asset-path "js"
        :modules {:main {:entries [ecological.core]}}
        ;;:compiler-options {:infer-externs :auto}
        :devtools {:preloads [devtools.preload]
                   :before-load ecological.core/stop 
                   :after-load ecological.core/start
                   ;:before-load-async ecological.build/build-asset-data
                   :watch-dir "resources"
                   :build-hooks [(ecological.asset-management/hook "resources/assets")] ; It seems like this isn't getting called for some reason, so perhaps I'm doing something wrong with it?
                   :http-root "public"
                   :http-port 8020
                   :hud true
                   :open-file-command
                   ["emacsclient" "-n" ["+%s:%s" :line :column] :file]
                   }}}}










